<mat-tab-group>
  <mat-tab label="Usuarios">
    <app-user-list></app-user-list>
  </mat-tab>
  <mat-tab label="Productos">
    <app-product-list></app-product-list>
  </mat-tab>
  <mat-tab label="Órdenes">
    <app-create-order></app-create-order>
  </mat-tab>
</mat-tab-group>
<img src="https://lh5.googleusercontent.com/blV5FeE-w37QNsTya9O6vP5U-jXbPQaXQqQt-ITYDeXcYEU8sgUrv2qfsZhM_DjRGN7W3wb_tvCVkmF9DMZtCP0W-Wd8XLTThSIQz3YF-EVDbKs_FHFkbIJe-RrwxVJ9zk2_xY6KxMBRFpT_Wugu0A "
     height="100px" alt="1"/>
